html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-image: url('../img/background.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  margin-bottom: 60px;
  color: white;

}

header {
  /*background: #333;*/
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 0px;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border: none;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.6);
  z-index: -1;
}


.content-container {
  position: relative;
  z-index: 1; /* Boven de overlay */
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schaduw voor een zwevend effect */
  border-radius: 8px; /* Afgeronde hoeken */
  overflow: hidden; /* Zorgt ervoor dat afbeeldingen binnen de afgeronde hoeken blijven */
}

.col-md-4{
  padding-right: 0px;
}

.detail{
  padding-top: 5px;
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 5px;
  color: #b5b5b5;
  text-align: center;
}

.info-card{
  position: relative;
  float: left;
  width: 290px;
  height: 400px;
  margin: 20px;
  padding-top: 5px;
  text-align: center;
  background-color: #191c1f;
  /*cursor: pointer;*/
}
.info-animal-details{
  position: relative;
  float: left;
  width: 400px;
  height: 420px;
  margin: 20px;
  padding-top: 5px;
  text-align: center;
  background-color: #191c1f;
  /*cursor: pointer;*/
}
.item-image{
  position: relative;
  box-shadow: 3px 3px 5px #000;
  padding-top: 15px;
  width: 200px;
  height: 270px;
  z-index: 1;
}
.name{
  position: absolute;
  background-color: #f3c00f;
  margin-top: -300px;
  height: 50px;
  width: 90px;
  padding: 10px;
  padding-bottom: 15px;
  z-index: 2;
  margin-left: -28px;
  margin-right: auto;
  color: #333;
  border-radius: 5px;
}
.col-md-8{
  padding-left: 0px;
}

.donation-summary-table {
  width: 100%;
  margin-top: 20px;
}
.donation-summary-table th, .donation-summary-table td {
  text-align: left;
  padding: 8px;
}
.donation-summary-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.donation-summary-table th {
  background-color: #4CAF50;
  color: white;
}
.donation-summary-table td {
  border-bottom: 1px solid #ddd;
}




