@model SpeciesCreateViewModel


<div class="row">
    <div class="col col-4 mx-auto border border-2 rounded-2 " style="background-color: lightseagreen;margin-bottom: 90px">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <form asp-controller="Species" asp-action="Create" method="post" >
           <div class="form-group" >
                           <label asp-for="Name" class="text-white text-uppercase fw-bold"></label>
                           <input asp-for="Name" class="form-control bg-dark-subtle bg-opacity-60" >     
                           <span asp-validation-for="Name" class="text-danger"></span>
                       </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mb-2 mt-2" />
            </div>
        </form>
    </div>
</div>