
<form  asp-controller ="Accounts" asp-action="Login" method="post">
    <div class="alert alert-info w-50 align-items-center">
        <h1>Password Reset Successful</h1>
        <p>Your password has been successfully reset. You can now use your new password to log in.</p>
    </div>
    <button type="submit" class="btn btn-primary mt-2" >Ok</button>
</form>